<component name="ArtifactManager">
  <artifact type="war" name="SpringWebMVC:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringWebMVC</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringWebMVC-1.0.0.war">
      <element id="artifact" artifact-name="SpringWebMVC:war exploded" />
    </root>
  </artifact>
</component>